
*{
margin: 0;
padding: 0;
}


/* CODIGO PARA NO REPETIR */
.centerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayFlex {
  display: flex;
}

.displayBlock {
  display: block;
}

.displayInline {
  display: inline;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifyAround {
  display: flex;
  justify-content: space-around;
}

.justifyBetween {
  display: flex;
  justify-content: space-between;
}

.justifyFlexEnd {
  display: flex;
  justify-content: flex-end;
}

.uppercase {
  text-transform: uppercase;
}

.textCenter {
  text-align: center;
}


/* CODIGO DISEÑO WEB */

.fondoWall{
  background-image: url("https://us.123rf.com/450wm/gn8/gn81902/gn8190200052/124886197-brick-wall-background-illuminated-texture-dark-neon-light-.jpg?ver=6");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 5vh;
}

#latestNews {
  font-size: 2rem;
  color: palevioletred;
}