:root {
  --primary-color: #FFB5FF;
  --secondary-color: #FF7FFF;
  --background-color: #11050F;
  --news-color: #FD90FF;
  --terciary-color: #FFDF37;
  --active-color: #6CC8FC;
}
input[type= file]:lang(en){
  quotes: '\201C' '\201D' '\2018' '\2019';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.sectionTitle{
  font-size: 3rem;
  color: var(--primary-color);
  text-shadow:0px 0px 10px var(--secondary-color);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #11afdb;
}


*{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}


/* CODIGO PARA NO REPETIR */
.centerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayFlex {
  display: flex;
}

.displayBlock {
  display: block;
}

.displayInline {
  display: inline;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifyAround {
  display: flex;
  justify-content: space-around;
}

.justifyBetween {
  display: flex;
  justify-content: space-between;
}

.justifyFlexEnd {
  display: flex;
  justify-content: flex-end;
  position: relative;
  
}

.uppercase {
  text-transform: uppercase;
}

.textCenter {
  text-align: center;
}


/* CODIGO DISEÑO WEB */

.fondoWall{
  background-image: url("https://us.123rf.com/450wm/gn8/gn81902/gn8190200052/124886197-brick-wall-background-illuminated-texture-dark-neon-light-.jpg?ver=6");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 5vh;
}


/* DISENO CARD NEWS */
#latestNews {
  font-size: 2rem;
  color: var(--news-color);
}
.estiloCard{
  color: black;
    font-size: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-weight: bold;
    text-transform: uppercase;    
  }
  .estiloCardIt{
    color: black;
      font-size: 50px;
      display:flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      font-weight: bold;
      text-transform: uppercase;
    background-size: cover;
      
      
  }

.bordes {
-webkit-box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
-moz-box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;
border: 0px solid #000000;
-webkit-box-shadow: inset 10px 10px 81px 0px rgba(219,96,219,1);
-moz-box-shadow: inset 10px 10px 81px 0px rgba(219,96,219,1);
box-shadow: inset 10px 10px 50px 0px rgba(219,96,219,1);
    
}

#cardPadre {
  padding: 3vh 1vw;
  display: flex;
  flex-wrap: wrap;

}

.news {
  width: 100%;
  background-color: #fd90ff9a;
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 44px 44px;
  
  padding-bottom: 1vh;
 
}

.cardHijo {
  width:70vw;
  height:50vh;
  background-Size: cover;
  background-Repeat: no-repeat;
  background-Position:center;
  
}

.tituloNoticia {
  font-size: 3rem;
  color: white;
  -webkit-text-stroke: 1px black;
  color: white;
}
.descripcionNoticia{
  color: black;
  font-size: 2rem;
}

.texto{
  padding-left: 3vh;
  font-weight: 900;
}


/* ----- HEADER ----- */

#headerContainer{
  height: 15vh;
  background-color: var(--background-color);
  align-items: center;
  border-bottom: 5px solid var(--active-color);
  box-shadow: 0px 0px 20px var(--active-color);
}
.userImg {
  width: 8vh;
  height: 8vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 500px;
  border: 3px solid var(--secondary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
  transition: 0.3s ease;
  margin: 0 1vw;
}
.logo{
  width: 25vw;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2vw;
}
.links {
  align-items: center;
  max-width: 65vw; 
  height: 100%;
  margin-right: 4vw; 
}
.links p, a {
  color: var(--primary-color);
  text-decoration: none;
  text-shadow: 0 0 10px var(--secondary-color);
  transition: 0.3s ease;
  padding: 0 1vw;
}
.links p:hover {
  transform: scale(1.05);
  color: var(--active-color);
  text-shadow: 0 0 10px #11afdb;
  border-bottom: 3px solid var(--active-color) ;
}
.links .active p {
  color: var(--active-color);
  text-shadow: 0 0 10px #11afdb;
  border-bottom: 3px solid var(--active-color) ;
}


/* ----- FOOTER ----- */

.footer{
  height: 15vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top:5px solid var(--active-color);
  box-shadow: 0px -3px 10px var(--active-color);
  
}
.footerLinks {
  flex: 1;
  align-items: center;
  width: 60%;
  height: 100%;
  padding: 0 10vw;
  background-color: rgba(39, 0, 36, 0.616);  
}
.footerLinks p{
  transition: 0.3s ease;
} 

.footerLinks p:hover{
  transform: scale(1.05);
  color: var(--active-color);
  text-shadow: 0 0 10px #11afdb;
  border-bottom: 3px solid var(--active-color) ;
}
.footerLinks .active p{
  color: var(--active-color);
  text-shadow: 0 0 10px #11afdb;
  border-bottom: 3px solid var(--active-color) ;
}

/* ----- SIGN UP ----- */
.signUp{
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 4vh 0;
}
.signUpErrorContainer{
  padding: 1vw;
  border-radius: 20px;
  border: 3px solid rgba(255, 37, 37, 0.842) ;
  background-color:rgba(58, 0, 0, 0.678);
  margin-bottom: 2vh;
}
.signUpErrorText{ 
color: rgb(255, 250, 200);
}
.signUp h2 {
  font-size: 2rem;
  color: var(--primary-color);
  text-shadow: 0px 0px 10px var(--secondary-color);
  margin-bottom: 2vh;
}
#inputId {
  display: flex;
 align-items: center;
  justify-content: space-around;
}

#inputId input {
  margin-left: 2vh;
}

.devInputs {
  display: block;
}
form {
  display: flex;
  flex-direction: column;
  width: 40%
}
form p {
  color: white;
}
form input {
  padding: 1vh 2vw;
  border-radius: 50px;
  outline:none;
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
  margin: 2vh 0 ;
  transition: 0.3s ease;
  background-color:rgba(39, 0, 36, 0.616);
  color: white;
}
form input::placeholder{
  color: white;
}
form input:checked {
  background: var(--secondary-color);
  color: var(--secondary-color);
  outline: none
}
form input [type="radio"]:checked {
  background-color: #F87DA9;
  color: #F87DA9;
}
form input:hover {
  transform: scale(1.05);
}
form button {
  margin: 2vh 0;
  padding: 1vh 0;
  border-radius: 50px;
  border: none;
  height: 2rem;
  color: white;
  background-color: var(--secondary-color);
  transition: 0.2s ease;
  box-shadow: 0px 0px 10px var(--primary-color);
  outline: none;
}
form button:hover{
  transform:scale(1.05);
  cursor: pointer;
}
form button:active{
  background-color: var(--terciary-color);
  color: black;
  box-shadow: 0px 0px 10px var(--terciary-color);
}
.logInRedirect{
  color: var(--terciary-color);
}

.selection{
  display: flex;
}
.redirect {
  margin: 2vh 0;
}

/* ----- RECOMMENDED ----- */

.estiloCardRecommend{
  color: black;
    font-size: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-weight: bold;
    text-transform: uppercase;
    
    
    
  }
  .estiloCardItRecommend{
    color: black;
      font-size: 50px;
      display:flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      font-weight: bold;
      text-transform: uppercase;
    background-size: cover;
    
      
      
  }

.bordesRecommend {
-webkit-box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
-moz-box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
-webkit-box-shadow: inset 10px 10px 50px 0px rgba(219,96,219,1);
-moz-box-shadow: inset 10px 10px 50px 0px rgba(219,96,219,1);
box-shadow: inset 10px 10px 50px 0px rgba(219,96,219,1);
    
}
#recommendedParent{
  display: flex;
  flex-wrap: wrap;
}

#cardPadreRecommend {
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: 1vw;
  min-width: 20vw;
}

.Recommend {
  width: 100%;
  max-height: 30%;
  background-color: #fd90ff9a;
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 20px 20px;  
  padding-bottom: 1vh; 
}


.cardHijoRecommend {  
  min-width:50vh;
  min-height:30vh;
  background-Size: cover;
  background-Repeat: no-repeat;
  background-Position:center;
  
}
.tituloRecommend{
  font-size: 3rem;
  color: white;
  -webkit-text-stroke: 1px black;
}
.tituloRecommend h5 {
  font-size: 1.25rem;
}

/* ------- LIBRARY ------ */
#library{
  background-color: var(--background-color);
  min-height: 100vh;
  color: white;
}
.libraryLabel{
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  font-size: 1.25rem;
}
#library form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.libraryCheckbox{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1vh 0;
  color:white;
}
#library select {
  min-width: 25vw;
  padding: 1vh 3vw;
  border-radius: 50px;
  outline:none;
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
  margin: 2vh 0;
  transition: 0.3s ease;
  background-color:rgba(39, 0, 36, 0.616);
  color: white;
}
#library button {
  min-width: 25vw;
  margin: 2vh 0;
  padding: 1vh 0;
  border-radius: 50px;
  border: none;
  height: 2rem;
  color: white;
  background-color: var(--secondary-color);
  transition: 0.2s ease;
  box-shadow: 0px 0px 10px var(--primary-color);
  outline: none;
}
.gameLibItem{
  display: flex;
  align-items: center;
  width: 320px;
  height: 30vh;
  margin: 1vh 1vw;
  border: 3px solid var(--secondary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
  border-radius: 10px;
}
.gameLibTitle{
  color: var(--background-color);
  font-size: 1.25rem;
  text-align: center;
  padding-bottom: 5px;
}
.gameLib p{
  font-size: 1rem;
  text-align: center;
}
.innerGameLibItem{
  background-color: #fd90ffd0;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}
.searchLibrary{
  min-width: 25vw;
  padding: 1vh 1vw;
  border-radius: 50px;
  outline:none;
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
  margin: 2vh 0;
  transition: 0.3s ease;
  background-color:rgba(39, 0, 36, 0.616);
  color: white;
}
.searchLibrary::placeholder{
  color: white;
}
.libraryFilters{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noGames{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 90vw;
  margin: auto;  
}
.noGames h2{
  font-size: 3rem;
  color:white !important;
  text-shadow: 0px 0px 10px black !important;
  outline: black  !important;
  background-color: rgba(39, 0, 36, 0.616);
  padding: 1vh 3vw;
}
#noGameContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ----- CATEGORY ----- */
.categorySectionTitle{
  background-color: var(--background-color);
  min-height: 60vh;
  padding-bottom: 3vh;
}
.categorySectionTitle h2 {
  color: white;
  text-align: center;
}

.seeAllGames{
  padding: 3vh 0;
  height: 5vh;
}
.seeAllGames p{
  border: 3px solid var(--secondary-color);
  padding: 1vh 3vh;
  border-radius: 100px;
  transition: 0.2s ease;
}
.seeAllGames p:hover{
  color: var(--active-color);
  transform: scale(1.05);
}

.estiloCardCategory{
  color: black;
    font-size: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-weight: bold;
    text-transform: uppercase;
    
    
    
  }
  .estiloCardItCategory{
    color: black;
      font-size: 50px;
      display:flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      font-weight: bold;
      text-transform: uppercase;
    background-size: cover;
    
      
      
  }

.bordesCategory {
-webkit-box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
-moz-box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;
border: 0px solid #000000;
-webkit-box-shadow: inset 10px 10px 81px 0px rgba(219,96,219,1);
-moz-box-shadow: inset 10px 10px 81px 0px rgba(219,96,219,1);
box-shadow: inset 10px 10px 81px 0px rgba(219,96,219,1);
    
}

#cardPadreCategory {
  padding-top: 2vh;
  padding-bottom: 2vh;
 
}

.padre {
  display: flex;
  flex-wrap: wrap; 
}

.Category {
  width: 100%;
  background-color: #fd90ff9a;
}

.cardHijoCategory {
  width:320px;
  height:30vh;
  background-Size: cover;
  background-Repeat: no-repeat;
  background-Position:center;
  transition: 0.2s ease;
  
}
.cardHijoCategory:hover{
  transform: scale(1.05);
}
.tituloCategory {
  font-size: 2rem;
  color: white;
  -webkit-text-stroke: 1px black;
  color: white;
}
#noGames{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: 50%;
}
/* ------ HOME ------ */
.homeContainer{
  background-color: var(--background-color);
}

.homeHero{
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px var(--active-color);
}
.homeHero h1{
  color: white;
  text-shadow: 0px 0px 10px var(--secondary-color);
  font-size: 3rem;
}
.homeHero h3{
  color: white;
  text-shadow: 0px 0px 10px var(--secondary-color);
  font-size: 2rem;
}
.homeNewsCards{
  margin: 2vh 0;
}
.homeHero button {
  color: rgb(255, 255, 255);
  background-color: rgba(247,104,247,0.8);
  padding: 2vh 4vw;
  font-size: 2rem;
  border-radius: 4rem;
  border:none;
  box-shadow: 0px 0px 20px var(--secondary-color);
  transition: 0.2s ease;
  cursor: pointer;
}
.homeHero button:hover{
  transform: scale(1.1);
}
.homeHero button:active{
  color: black;
  background-color: var(--terciary-color);
}
.homeTitle{
  color: white;
  text-shadow: 0px 0px 20px var(--secondary-color);
  background-position: center;
  background-size: cover;
  font-size: 3rem;
  height: 10vh;
  background-color: rgba(247,104,247,0.67);
  box-shadow: 0px 0px 10px var(--secondary-color);
}
#recommendedHomeContainer{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}


/* ------ JUEGOS (CATEGORIA) ------ */

.portadaJuego {
  width: 320px;
  height: 40vh;
  background-position: center;
  background-size: cover;  
}
.pegiClasification{
  margin: 1vw;
  padding: 2vw;
  border-radius: 200px;
  width: 2vh;
  height: 2vh;
  background-color: rgba(39, 0, 36, 0.616);
}
.tituloJuego {
  font-size: 3rem;
  text-transform: uppercase;
}

.gameInfo{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
}


.valoracion {
  font-size: 2rem;
  
}
.zoom {
  transition: transform .2s; /* Animation */
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.zoom:hover {
  transform: scale(1.07); 
}

.cajaInformacion{
  width: 320px ;
  background-color: var(--background-color);
  border: 0.5rem solid rgba(247,104,247,0.8);
  box-shadow: 0px 0px 20px var(--secondary-color);
  border-radius: 43px 43px 43px 43px;
  -moz-border-radius: 43px 43px 43px 43px;
  -webkit-border-radius: 0px 0px 43px 43px;
  padding: 2vh 0;


}

.portadaJuego{
background-color: #ffffff;
border: 0.5rem solid rgba(247,104,247,0.8);
box-shadow: 0px 0px 20px var(--secondary-color);
border-radius: 43px 43px 43px 43px;
-moz-border-radius: 43px 43px 43px 43px;
-webkit-border-radius: 43px 43px 0px 0px;
}

.infoJuego{
  padding-left: 1vh;
}
/* ------ DEVELOPER_PAGE ------ */

.headerDeveloper{
  min-width: 60vw;
  padding-bottom: 6vh;
}
.developerContainer{
  min-height: 110vh;
}
.developerSection{
  margin: 1vh;
  min-width: 50vw ;
  background-color: var(--background-color);
}
.optionsDevelopers{
  display: flex;
  justify-content: space-around;
  margin: 2vh 0;
  height: 2rem;
}
.optionsDevelopers p {
  color: white;
  padding: 1vh 2vw;
  border-radius: 10px;
  border: 3px solid var(--secondary-color);
}

/* ------ Add Games ------ */
.addGames{
  width: 50vw;
  padding: 0 5vw;
}

.gameCategories{
  min-width: 25vw;
  padding: 1vh 3vw;
  border-radius: 50px;
  outline:none;
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
  margin: 2vh 0;
  transition: 0.3s ease;
  background-color:rgba(39, 0, 36, 0.616);
  color: white;
}
#gameInfo::placeholder{
  color: white;
}
#gameInfo1{
  height: fit-content;
  padding: 1vh 0;
}
#gameInfo1 h3{
  padding: 1vh 1vw;
}
#gameImg{
  min-width: 25vw;
  padding: 1vh 3vw;
  border-radius: 50px;
  outline:none;
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
  margin: 2vh 0;
  transition: 0.3s ease;
  background-color:rgba(39, 0, 36, 0.616);
  color: white;
}
.addGameContainer{  
  min-height: 50vh;
}

.portadaSingleGame{
  width: 100%;
  height: 70vh;
  background-position: top;
  background-size: cover;
  
}

.cajaPadreSingleGame {
  background-color: var(--background-color);

  padding-bottom: 3vh;

}

.cajaPadreNoticia{
  background-color: var(--background-color);
}

.cajaTituloSingleGame{
width: 100%;
height: 10vh;
box-shadow: 0px 0px 20px var(--secondary-color);
border-radius: 43px 43px 43px 43px;
-moz-border-radius:  0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px ;
background-color: rgba(247,104,247,0.8);
}
.cajaTituloSingleGame, p ,h3 {
  color: white;
  font-size: 1.20rem;
}


/* ------ ADD NEWS ------ */
#uploadButton{
  display: none;
}
.inputFile{
  display: flex;
  align-self: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  padding: 1vh 2vw;
  border-radius: 50px;
  outline:none;
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
  margin: 2vh 0 ;
  transition: 0.1s ease;
  background-color:var(--secondary-color);
  color: white;
}
.inputFile:active{
  color: black;
  background-color: var(--terciary-color);
  
}
.inputFile:hover{
  transform: scale(1.05);
}
.addNews{
  width: 50vw;
}
.addNews textarea::placeholder{
  color: white;
}






/* ------- MENU DE HAMBURGESA ------- */

.sideMenu {
  display: flex;
  background-color: var(--background-color);
  height: 5vh;
  margin: none;
  padding: none;
  width: 100vw;
  padding-bottom: 1vh;
  transition: 0.2s ease;
}
.hamburgerIcon{
  box-shadow: 0px 0px 10px var(--secondary-color);
}


/* ------- NOTICIA ------- */
.newsSection{
  padding: 2vh 0;
  background-color: var(--background-color);
}
#newsTitlte{
  box-shadow: 0px 0px 20px var(--secondary-color);
}
.cajaNoticia{
  width: 70vw;
  
}
.cajaPadreSingleGame .caja,.cajaPadreSingleGame .cajaRate{
  width: 18vw;

}
.tituloArticle{
  text-transform: uppercase;
}

.bodyNoticia{
  text-align: justify;
  
}

.imgNoticia{
  height: 50vh;
  background-position: center;
  background-size: cover;
}

.boxBackNoticia{
width: 100%;
height: 40vh;
background-color: #ffffff;
border: 0.5rem solid rgba(247,104,247,0.8);
box-shadow: 0px 0px 20px var(--secondary-color);
border-radius: 30px 30px 30px 30px;
-moz-border-radius: 30px 30px 30px 30px;
-webkit-border-radius: 30px 30px 0px 0px;  
}
.boxBackNoticia p{
  color: var(--background-color);
  padding: 1vh 1vw;
}

.boxBackTitulo{
width: 100%;
padding-bottom: 2vh;
border: 0.5rem solid rgba(247,104,247,0.8);
box-shadow: 0px 0px 20px var(--secondary-color);
border-radius: 30px 30px 30px 30px;
-moz-border-radius: 30px 30px 30px 30px;
-webkit-border-radius: 0px 0px 30px 30px ;
background-color: rgba(247,104,247,0.8);

}

.paddingTexto{
  padding-left: 1vh;
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
  padding-bottom: 2vh;
  
}

.cajaNoticias{
  width: 80vw;
  padding: 3vh 0;
}

.parrafoNoticia{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4vh;
  text-align: justify;
  color: white;
}

.portadaSingleNews{
  width:  100%;
  height: 70vh;
  background-position: center;
  background-size: cover;
}

.singleNewsDescription{
  font-size: 2rem;
  padding-bottom: 2vh;
  color: white;
}

.singleNewsTitle{
  font-size: 3rem; 
  padding-bottom: 2vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: var(--primary-color);
  
}
.subtitulo{
  font-size: 1.3rem;
  padding-bottom: 2vh;
  opacity: 0.6;
  padding-top: 1vh;
  color: white;
}



/* ------ CONTACT PAGE ------ */

textarea{
  padding: 2vh 2vw;
  border-radius: 20px;
  outline:none;
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
  margin: 2vh 0 ;
  transition: 0.3s ease;
  background-color:rgba(39, 0, 36, 0.616);
  color: white;
  min-height: 5vh;
}

/* ------ COMMENTARY ------ */
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  position: relative;
  width: auto;
  overflow: auto;
  min-height: 10vh;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
  
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}
.message button{
  height: 3vh;
  width: 5vw;
}
.cajaComentarios{
  overflow-y: auto; 
  min-width: 60vw;
  height: 50vh;
  width: 90vw;
  padding: 1.5vh 0;
  border: 0.5rem solid rgba(247,104,247,0.8);
  box-shadow: 0px 0px 20px var(--secondary-color);
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px ;
  background-color: rgba(247,104,247,0.8);
  margin-top: 5vh;
  margin-bottom: 5vh;
}
#userImgComment{
  padding: 0;
  margin: 0;
}
#edited_comment button{
  padding: 1vh 2vw;
  color: white;
  border: none;
  background-color: var(--background-color);
}
.editComment {
  width: 40vw;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editComment textarea{
  width: 90%;
}
.editComment button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2vh 3vw;
  color: white;
  border: none;
  background-color: var(--background-color);
  border-radius: 50px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  height: 20vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


#sendMessage{
  border:none;
  background-color: var(--background-color);
  color: white;
  padding: 1vh 3vw;
  margin-left: 1vw;
  margin-right: 3vw;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.2s ease;
}
#sendMessage:hover{
  background-color: var(--active-color);
  color: black;
  box-shadow: 0px 0px 10px var(--active-color);
}
#inputEmail4{
  width: 100%;
  margin-left: 2vw ;
  padding: 0 2vw;
  border-radius: 100px;
  border: none;
  background-color: var(--background-color);
  color: white;
  outline: none;
}
#inputEmail4::placeholder{
  color: white;
}

.mensajes{
  padding-top: 2vh;
  padding: 0 0.5vh;
  
}

.enviarMensaje{
 display: flex;
 justify-content: center;
}

.NombreUsuario{
  font-size: 1.3rem;
  color: #11050F;
}

.iconos{
  font-size: 1.3rem;
}
.comentarioTexto{
  font-size: 1.2rem;
 
}

.iconEdit{
  padding-left: 1vh;
}


/* ------ BOTONES ------ */

.caja{
width: 15vw;
height: 4vh;
color: white;
border: 0.5rem solid rgba(247,104,247,0.8);
  box-shadow: 0px 0px 20px var(--secondary-color);
  border-radius: 43px 43px 43px 43px;
  -moz-border-radius: 43px 43px 43px 43px;
  -webkit-border-radius: 43px 43px 43px 43px ;
  background-color: rgba(247,104,247,0.8);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.backGames{
  margin-right: 4vh;
}

.iconPaypal{
  font-size: 1.25rem;

  padding-right: 1vh;
}

.cajaRate{
  width: 15vw;
height: 4vh;
color: white;
border: 0.5rem solid rgba(247,104,247,0.8);
  box-shadow: 0px 0px 20px var(--secondary-color);
  border-radius: 43px 43px 43px 43px;
  -moz-border-radius: 43px 43px 43px 43px;
  -webkit-border-radius: 43px 43px 43px 43px ;
  background-color: rgba(247,104,247,0.8);
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.rateGame {
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* ------- MEDIA QUERIES ------- */
@media(min-width:900px){
  #headerResponsive{
      display: none;
    }
  #linksResponsive{
    width:90%;
    display: none;
  }
  }

  @media(max-width:900px){
 
  #headerContainer{
    display:none;
  }
  #headerResponsive{
    display:flex;
    height: 15vh;
    background-color: var(--background-color);
    align-items: center;
    justify-content: space-around;
  }
  #linksResponsive{
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
    .homeContainer #cardPadre a{
    width: 90vw;
    padding: 0 0;
    margin: 0 0;
    display: flex;
    justify-content: center;
    
  }
  .homeHero h1{
    font-size: 2rem;
  }
  .homeHero h3{
    font-size: 1.5rem;
    text-align: center;
  }
  .tituloNoticia{
    font-size: 1.5rem;
  }
  .homeTitle{
    font-size: 2rem;
  }
  .cardHijoRecommend h5{
    font-size:1rem;
    text-align: center;
  }
  .descripcionNoticia{
    font-size: 1.25rem;
  }
  .logo{
    width: 45vw;
    margin: 0;
  }
  .links{
    max-width: 100vw;
  }
  .links p{
    padding:0 1vw;
  }
  /*----- COMENTARIOS ------ */
 
  .backGames, .paypal, .iconPaypal{
    width: 35vw;
    padding-right: 1vw;
    cursor: pointer;
  }
  .backGames h3, .paypal h3, .iconPaypal h3{
    font-size: 0.75rem;
  }
  .commentsRate{
    display: flex;
    width: 100%;
  }
  .cajaRate p{
    font-size: 1rem;
    cursor: pointer;
  }
  /* ---- FOOTER ---- */
  .footer{
    min-height: 40vh;
  }
  .footerLinks{ 
    display: flex;
    flex-direction: column;  
    padding: 0 2vw;  
  }
  .footerLinks p{
    padding: 1vh;
  }

  /* ------ HEADER ----- */
  .headerContainer p {
    padding: 1vh;
  }

  /* ----- SIGN UP ----- */

  form{
    width: 90%;
  }
  /* ----- NOTICIAS ------ */
  .cajaNoticias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    
  }
  .cardHijo{
    width: 90%;
  }
  /* ---- HOME RECOMMEND ----- */
  .Recommend {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }

  .Recommend h5 {
    font-size: 1.5rem;
  }
  .cardHijoRecommend{
    width: 80vw;
  }
}
.Recommend h5 {
  font-size: 1.5rem;
}

/* -------LOADER-------- */
.loader{
  width: 100%;
  min-height: 80vh;
  height: 30vh;
  display: flex ;
  justify-content: center;
  align-items: center;
}

  /* ----- EDIT COMMENT ----- */
  .editComment button{
    padding: 1vh 20vw;
  }

.fondo{
  height:75vh;
  width:100%;
  background-color: var(--background-color);
  padding:0
}