
*{
margin: 0;
padding: 0;
}


/* CODIGO PARA NO REPETIR */
.centerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayFlex {
  display: flex;
}

.displayBlock {
  display: block;
}

.displayInline {
  display: inline;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}

.justifyAround {
  display: flex;
  justify-content: space-around;
}

.justifyBetween {
  display: flex;
  justify-content: space-between;
}

.justifyFlexEnd {
  display: flex;
  justify-content: flex-end;
  
  
}

.uppercase {
  text-transform: uppercase;
}

.textCenter {
  text-align: center;
}


/* CODIGO DISEÑO WEB */

.fondoWall{
  background-image: url("https://us.123rf.com/450wm/gn8/gn81902/gn8190200052/124886197-brick-wall-background-illuminated-texture-dark-neon-light-.jpg?ver=6");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 5vh;
}

#latestNews {
  font-size: 2rem;
  color: palevioletred;
}

.estiloCard{
  color: black;
    font-size: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    font-weight: bold;
    text-transform: uppercase;
    
    
  }
  .estiloCardIt{
    color: black;
      font-size: 50px;
      display:flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      font-weight: bold;
      text-transform: uppercase;
    background-size: cover;
      
      
  }

.bordes {
  -webkit-box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
-moz-box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
box-shadow: 10px 10px 0px 0px rgba(247,104,247,0.67);
border-radius: 44px 44px 44px 44px;
-moz-border-radius: 44px 44px 44px 44px;
-webkit-border-radius: 44px 44px 44px 44px;
border: 0px solid #000000;
-webkit-box-shadow: inset 10px 10px 81px 0px rgba(219,96,219,1);
-moz-box-shadow: inset 10px 10px 81px 0px rgba(219,96,219,1);
box-shadow: inset 10px 10px 81px 0px rgba(219,96,219,1);
    
}

#cardPadre {
  padding-top: 5vh;
  
  
}

.news {
  width: 100%;
  background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
 
  border-radius: 0px 0px 44px 44px;
  opacity: 0.6;
 
}

.cardHijo {
  width:60vw;
  height:50vh;
  background-Size: cover;
  background-Repeat: no-repeat;
  background-Position:center;
  display: flex;
  align-items: center;
  

  
}

h2 {
  font-size: 3rem;
}